@font-face {
  font-family: "Open sans";
  src: url("../../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open sans";
  src: url("../../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Open Sans", serif;
  margin: 0 auto;
  background-color: #ffffff;
}
.hidden {
  margin: 0;
  visibility: hidden;
}
@media (max-width: 767px) {
  .about-info__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding: 28px 30px;
  }
  .about-info__flower-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .about-info__wtf-wrapper {
    grid-area: 2 / 1 / 3 / 2;
  }
  .about-info__heart-wrapper {
    grid-area: 3 / 1 / 4 / 2;
  }
  .about-info__clew-wrapper {
    grid-area: 4 / 1 / 5 / 2;
  }
  .about-info__rocket-wrapper {
    grid-area: 5 / 1 / 6 / 2;
  }
  .about-info__gift-wrapper {
    grid-area: 6 / 1 / 7 / 2;
  }
  .about-info__text {
    line-height: 20px;
    font-weight: 700;
    padding-bottom: 10%;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .about-info__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 50px;
    padding-bottom: 83px;
  }
  .about-info__flower-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .about-info > h2 {
    padding-left: 40px;
  }
  .about-info__text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
  .about-info__clew-wrapper {
    grid-area: 1 / 2 / 2 / 3;
  }
  .about-info__wtf-wrapper {
    grid-area: 2 / 1 / 3 / 2;
  }
  .about-info__rocket-wrapper {
    grid-area: 2 / 2 / 3 / 3;
  }
  .about-info__heart-wrapper {
    grid-area: 3 / 1 / 4 / 2;
  }
  .about-info__gift-wrapper {
    grid-area: 3 / 2 / 4 / 3;
  }
}
@media (min-width: 1150px) {
  .about-info__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-left: 150px;
  }
  .about-info__flower-wrapper {
    grid-area: 1 / 1 / 2 / 2;
  }
  .about-info > h2 {
    padding-left: 40px;
    padding-top: 68px;
  }
  .about-info__text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
  }
  .about-info__clew-wrapper {
    grid-area: 1 / 2 / 2 / 3;
  }
  .about-info__wtf-wrapper {
    grid-area: 2 / 1 / 3 / 2;
  }
  .about-info__rocket-wrapper {
    grid-area: 2 / 2 / 3 / 3;
  }
  .about-info__heart-wrapper {
    grid-area: 3 / 1 / 4 / 2;
  }
  .about-info__gift-wrapper {
    grid-area: 3 / 2 / 4 / 3;
  }
}
@media (max-width: 767px) {
  .additional-menu__interior {
    grid-area: 2 / 1 / 3 / 2;
    min-height: 103px;
    background-color: #63d1bb;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 320px;
  }
  .additional-menu__interior-text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0;
  }
  .additional-menu__toys {
    grid-area: 3 / 1 / 4 / 2;
    min-height: 103px;
    background-color: #56c3b2;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 320px;
  }
  .additional-menu__toy-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0;
  }
  .additional-menu__toy-text--padding {
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .additional-menu__interior {
    min-height: 119px;
    background-color: #63d1bb;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 334px;
  }
  .additional-menu__interior-text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0;
  }
  .additional-menu__toys {
    min-height: 119px;
    background-color: #56c3b2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 334px;
  }
  .additional-menu__toy-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
    padding-left: 0;
  }
  .additional-menu__toy-text--padding {
    padding-left: 10px;
  }
  .additional-menu__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f8fd;
  }
}
@media (min-width: 1150px) {
  .additional-menu__interior {
    min-height: 119px;
    background-color: #63d1bb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 470px;
    padding: 0 37px;
  }
  .additional-menu__interior-text {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
  }
  .additional-menu__toys {
    min-height: 119px;
    background-color: #56c3b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 470px;
    padding: 0 37px;
  }
  .additional-menu__toy-text {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    width: 130px;
    color: #ffffff;
  }
  .additional-menu__toy-text--padding {
    padding-left: 10px;
  }
  .additional-menu__wrapper {
    display: flex;
    justify-content: center;
    background-color: #f7f8fd;
  }
}
@media (max-width: 767px) {
  .button {
    font-family: "Open Sans", serif;
    background: #ffffff;
    border: 2px solid #444444;
    box-sizing: border-box;
    padding: 16px 70px;
    font-size: 18px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    max-width: 260px;
  }
  .button-reviews {
    min-width: 260px;
    padding: 16px 65px;
  }
  .button__contact {
    min-width: 260px;
    padding: 16px 38px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .button {
    font-family: "Open Sans", serif;
    background: #ffffff;
    border: 2px solid #444444;
    box-sizing: border-box;
    color: #444444;
    text-transform: uppercase;
  }
  .button-reviews {
    min-width: 175px;
    padding: 16px 26px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
  .button-order {
    padding: 16px 86px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    min-width: 292px;
  }
  .button-order--index {
    padding: 16px 86px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    min-width: 292px;
  }
  .button-order--catalog {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    padding: 18px 207px;
  }
  .button__contact {
    min-width: 230px;
    padding: 16px 28px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (min-width: 1150px) {
  .button {
    font-family: "Open Sans", serif;
    background: #ffffff;
    border: 2px solid #444444;
    box-sizing: border-box;
    color: #444444;
    text-transform: uppercase;
  }
  .button-reviews {
    min-width: 175px;
    padding: 16px 26px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
  .button-order--catalog {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    width: 232px;
    padding: 18px 30px;
  }
  .button-order--index {
    padding: 16px 86px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    min-width: 292px;
  }
  .button__contact {
    min-width: 230px;
    padding: 16px 28px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .catalog {
    display: flex;
    justify-content: center;
  }
  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    padding: 30px 0;
  }
  .developer__title {
    font-size: 19px;
    line-height: 18px;
    padding-right: 27px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .developer {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
  }
  .developer__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    padding-right: 25px;
  }
}
@media (min-width: 1150px) {
  .developer {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
  }
  .developer__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    padding-right: 25px;
  }
}
@media (max-width: 767px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    background-color: #f1f1f1;
    min-width: 320px;
  }
  .footer-logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin: 0;
    padding: 60px 0;
    background-color: #f1f1f1;
  }
  .footer-logo {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
  }
}
@media (max-width: 767px) {
  .form {
    padding: 17px 30px 55px 30px;
  }
  .form__additional-info {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }
  .form__title-text {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form__additional-info {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
  }
  .form__title-text {
    font-family: "Open Sans", serif;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    padding-top: 54px;
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form__additional-info {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #444444;
    padding-left: 210px;
  }
  .form__title-text {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 80px;
    width: 700px;
  }
}
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo {
    padding-top: 22px;
  }
  .header__logo--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__wrapper {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__logo--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .header__wrapper {
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__wrapper {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header-section__title-wrapper {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 13% 0;
  }
  .header-section__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .header-section__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 50px 0;
  }
  .header-section__title {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .header-section__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 50px 0;
  }
  .header-section__title {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 50px;
  }
}
@media (max-width: 767px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    min-width: 320px;
  }
  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../img/mobile/hero-mobile@2x.jpg") no-repeat center;
    min-height: 283px;
    min-width: 320px;
  }
  .introduce__slogan {
    font-family: "Open sans", serif;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 52px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url("../../img/desktop/hero-desktop.png") no-repeat center;
    width: 100%;
    height: 745px;
  }
  .introduce__slogan {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    text-align: center;
    max-width: 668px;
    padding-top: 160px;
  }
}
@media (min-width: 1150px) {
  .introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  .introduce__picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 745px;
    background: url("../../img/desktop/hero-desktop.png") no-repeat center;
  }
  .introduce__slogan {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    text-align: center;
    max-width: 668px;
    padding-top: 160px;
  }
}
@media (max-width: 767px) {
  .last-button {
    line-height: 21px;
    padding: 16px 37px;
  }
}
.link {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 767px) {
  .contacts_map {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts_map::after {
    content: url("../../img/mobile/map-pin.svg");
    position: relative;
    bottom: 330px;
    left: 16px;
  }
}
@media (max-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
  }
  .menu-mobile {
    list-style: none;
    width: 320px;
    margin: 0;
    font-weight: 600;
    line-height: 100px;
    background-color: #ffffff;
    padding: 25px 0 0 0;
  }
  .menu__item {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid #ececec;
    padding: 35px;
  }
  .menu__link {
    text-decoration: none;
    color: #000000;
  }
  .menu__item-image {
    padding-right: 35px;
  }
  .menu__link--padding {
    padding-left: 55px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .menu__toggle {
    opacity: 0;
    display: none;
  }
  .menu__menu-box {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  .menu__item {
    margin: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-right: 36px;
  }
  .menu__link {
    text-decoration: none;
    color: #000000;
  }
  .menu__hamburger-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .modal-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    width: 320px;
    min-height: 200%;
  }
  .modal-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 336px;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    min-width: 320px;
    top: 200px;
  }
  .modal-card__title {
    font-family: "Open sans", serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    max-width: 150px;
    text-align: center;
    text-transform: uppercase;
  }
  .modal-card__text {
    font-family: "Open sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
  }
}
@media (max-width: 1150px) {
  .price {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
}
@media (min-width: 1150px) {
  .price {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .product-card {
    border: 1px solid #ececec;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  .product-card__tablet-image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-card {
    border: 1px solid #ececec;
    margin: 3% 0;
    display: flex;
    flex-direction: row;
    height: 334px;
  }
  .product-card__mobile-image {
    display: none;
  }
}
@media (min-width: 1150px) {
  .product-card {
    border: 1px solid #ececec;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  .product-information {
    font-family: "Open Sans", serif;
    font-size: 17px;
    line-height: 24px;
    padding: 0 5%;
  }
  .product-information__description {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
  }
  .product-information__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-information {
    font-family: "Open Sans", serif;
    font-size: 17px;
    line-height: 24px;
    width: 100%;
    padding: 0 5%;
    height: 334px;
  }
  .product-information__description {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    padding-bottom: 55%;
  }
  .product-information__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
  .product-information__title--margin-bottom {
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .product-information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", serif;
    font-size: 17px;
    line-height: 24px;
    padding: 27px;
  }
  .product-information__description {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 36px;
  }
  .product-information__description--padding {
    margin-bottom: 13px;
  }
  .product-information__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .product-price {
    display: flex;
    border-top: 1px solid #ececec;
    padding: 10% 0;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-price {
    display: flex;
    justify-self: flex-end;
    border-top: 1px solid #ececec;
    padding-top: 10%;
  }
}
@media (min-width: 1150px) {
  .product-price {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-top: 23px;
    border-top: 1px solid #ececec;
  }
}
@media (max-width: 767px) {
  .product-video {
    border: 1px solid #ececec;
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .product-video__title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", serif;
  }
  .product-video__title::before {
    content: url("../../img/mobile/icon-video.svg");
  }
  .product-video__description {
    max-width: 225px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    align-self: center;
  }
  .product-information__title--small-width {
    max-width: 225px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .product-video {
    border: 1px solid #ececec;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    margin-bottom: 64px;
  }
  .video {
    grid-area: 1 / 1 / 2 / 2;
  }
  .product-video__order-wrapper {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 46px 40px 40px;
    display: flex;
    flex-direction: column;
  }
  .product-video__title {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    font-family: "Open Sans", serif;
    padding-left: 33px;
    padding-top: 31px;
  }
  .product-video__title::before {
    content: url("../../img/mobile/icon-video.svg");
    padding-right: 42px;
  }
  .product-video__description {
    max-width: 611px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    align-self: center;
  }
}
@media (min-width: 1150px) {
  .product-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 0;
    min-width: 100%;
    padding: 30px 0 50px 50px;
  }
  .video {
    grid-area: 1 / 1 / 4 / 2;
    min-width: 682px;
  }
  .button {
    grid-area: 3 / 2 / 4 / 3;
  }
  .product-video__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-area: 1 / 2 / 2 / 3;
  }
  .product-video__title::before {
    content: url("../../img/mobile/icon-video.svg");
  }
  .product-video__description {
    grid-area: 2 / 2 / 3 / 3;
    max-width: 252px;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    justify-self: center;
  }
  .product-video__order-wrapper {
    width: 367px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .reviews--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-left: 30px;
  }
  .reviews__header {
    grid-area: 1 / 1 / 2 / 2;
  }
  .reviews__button {
    grid-area: 5 / 1 / 6 / 2;
    padding-bottom: 45px;
  }
  .reviews--background {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .reviews--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    min-height: 457px;
    padding-bottom: 68px;
  }
  .reviews__header {
    grid-area: 1 / 1 / 2 / 2;
    padding-top: 50px;
  }
  .reviews__button {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  .reviews--background {
    position: absolute;
    z-index: -1;
  }
}
@media (min-width: 1150px) {
  .reviews--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    min-height: 457px;
    padding-bottom: 68px;
    padding-top: 90px;
  }
  .reviews__header {
    grid-area: 1 / 1 / 2 / 2;
  }
  .reviews__button {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
  .reviews--background {
    position: absolute;
    z-index: -1;
  }
}
@media (max-width: 767px) {
  .reviews-body {
    grid-area: 2 / 1 / 3 / 2;
  }
  .reviews-body__text {
    font-family: "Open Sans", serif;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding-right: 30px;
    padding-bottom: 33px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .reviews-body {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0 50px;
  }
  .reviews-body__text {
    font-family: "Open Sans", serif;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .reviews-body {
    grid-area: 2 / 1 / 3 / 3;
    padding: 0 50px;
  }
  .reviews-body__text {
    font-family: "Open Sans", serif;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 100px;
    max-width: 805px;
  }
}
@media (max-width: 767px) {
  .reviews-contacts {
    grid-area: 3 / 1 / 4 / 2;
    width: 79%;
    padding-bottom: 30px;
  }
  .reviews-contacts__name {
    line-height: 24px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  .reviews-contacts__email {
    line-height: 24px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .reviews-contacts {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 50px 50px;
  }
  .reviews-contacts__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .reviews-contacts {
    grid-area: 3 / 1 / 4 / 2;
    padding-left: 150px;
    max-width: 270px;
    display: flex;
    flex-direction: column;
  }
  .reviews-contacts__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .reviews-contacts__email {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
  }
  .contacts--title {
    padding-top: 38px;
    padding-bottom: 28px;
  }
  .contacts__email-title,
  .contacts__address-title {
    padding: 0 30px 0 30px;
  }
  .contacts__icon {
    display: none;
  }
  .contacts__email-text {
    border-bottom: 1px solid #62d1ba;
  }
  .contacts___email {
    padding-bottom: 50px;
  }
  .contacts__address {
    display: flex;
  }
  .contacts_map__button {
    display: flex;
    padding: 0 30px 39px 30px;
    margin-top: -75px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 46px;
  }
  .contacts__icon {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
  .contacts__icon::before {
    content: url("../../img/tablet/icon-1.svg");
    position: relative;
    left: 3px;
  }
  .contacts___email {
    grid-area: 2 / 1 / 3 / 2;
    padding-left: 50px;
  }
  .contacts__email-title,
  .contacts__address-title {
    padding-right: 40px;
  }
  .contacts__email-text {
    font-size: 17px;
    line-height: 30px;
    border-bottom: 1px solid #62d1ba;
  }
  .contacts__address {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    max-width: 310px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 25px;
  }
  .contacts_map {
    grid-area: 3 / 1 / 4 / 3;
    width: 768px;
  }
  .contacts_map::after {
    content: url("../../img/mobile/map-pin.svg");
    position: relative;
    bottom: 320px;
    left: 365px;
  }
  .contacts_map__button {
    grid-area: 4 / 1 / 5 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    padding-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding-top: 46px;
  }
  .contacts--title {
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    justify-self: flex-start;
    padding-right: 130px;
  }
  .contacts__icon {
    padding-top: 40px;
    justify-self: flex-end;
    grid-area: 1 / 1 / 2 / 2;
  }
  .contacts__icon::before {
    content: url("../../img/tablet/icon-1.svg");
    position: relative;
    left: 8px;
  }
  .contacts___email {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 3;
    max-height: 40px;
    max-width: 325px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-top: 35px;
  }
  .contacts__email-title {
    padding-right: 20px;
  }
  .contacts__email-text {
    border-bottom: 1px solid #62d1ba;
  }
  .contacts__address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: 3 / 1 / 4 / 3;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 15px;
  }
  .contacts__address-title {
    padding-right: 20px;
  }
  .contacts__address-text {
    max-width: 217px;
  }
  .contacts_map {
    grid-area: 1 / 3 / 5 / 4;
    width: 527px;
  }
  .contacts_map__button {
    grid-area: 4 / 1 / 5 / 3;
    justify-self: center;
  }
  .contacts_map::after {
    content: url("../../img/mobile/map-pin.svg");
    position: relative;
    bottom: 325px;
    left: 247px;
  }
}
@media (max-width: 767px) {
  .reviews-navigation {
    grid-area: 4 / 1 / 5 / 2;
    display: flex;
    max-height: 52px;
    padding-bottom: 38px;
  }
  .reviews-navigation__left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    box-sizing: border-box;
    max-height: 52px;
    width: 128px;
    background-color: #ffffff;
  }
  .reviews-navigation__right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    box-sizing: border-box;
    min-height: 52px;
    width: 128px;
    background-color: #ffffff;
  }
  .reviews-navigation__left-arrow > img,
  .reviews-navigation__right-arrow > img {
    padding: 13px 38px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .reviews-navigation {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 50px;
  }
  .reviews-navigation__left-arrow,
  .reviews-navigation__right-arrow {
    border: none;
    background: none;
  }
  .reviews-navigation__left-arrow {
    padding-right: 37px;
  }
}
@media (min-width: 1150px) {
  .reviews-navigation {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 50px;
  }
  .reviews-navigation__left-arrow,
  .reviews-navigation__right-arrow {
    border: none;
    background: none;
  }
  .reviews-navigation__left-arrow {
    padding-right: 37px;
  }
}
@media (max-width: 767px) {
  .small-button {
    max-width: 192px;
    padding: 11px 18px;
    align-self: center;
  }
}
@media (max-width: 767px) {
  .social-wrapper {
    justify-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2;
    border-bottom: 1px solid #e5e5e5;
    padding: 10% 0;
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .social-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-wrapper__social-icon:not(:first-child) {
    padding-left: 35px;
  }
}
@media (min-width: 1150px) {
  .social-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-wrapper__social-icon:not(:first-child) {
    padding-left: 35px;
  }
}
@media (max-width: 767px) {
  .title {
    color: #000000;
    font-family: "Open Sans", serif;
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding-left: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .title {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding-left: 30px;
  }
}
@media (min-width: 1150px) {
  .title {
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    padding-left: 100px;
  }
}
@media (max-width: 767px) {
  .video {
    background-image: url("../../img/mobile/video-mobile__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 150px;
  }
  .video > img {
    position: relative;
    left: 45px;
    top: 35px;
  }
  .video::before {
    z-index: 999;
    position: relative;
    left: 118px;
    top: 20px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .video {
    background-image: url("../../img/tablet/video-tablet__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 455px;
  }
  .video > img {
    position: relative;
    left: 260px;
    top: 200px;
  }
  .video::before {
    z-index: 999;
    position: relative;
    left: 330px;
    top: 185px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}
@media (min-width: 1150px) {
  .video {
    background-image: url("../../img/desktop/video-desktop__backgorund.jpg");
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    min-height: 455px;
  }
  .video > img {
    position: relative;
    left: 265px;
    top: 170px;
  }
  .video::before {
    z-index: 999;
    position: relative;
    left: 335px;
    top: 155px;
    content: url("../../img/mobile/play-symbol.svg");
  }
}
@media (max-width: 767px) {
  .week-product {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .week-product__header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
  }
  .week-product__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 28px;
  }
  .week-product__title--padding {
    padding-bottom: 3px;
    padding-top: 30px;
  }
  .week-product__subtitle {
    color: #63d1bb;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
  }
  .week-product__description {
    grid-area: 2 / 1 / 3 / 2;
    padding: 17px 30px 28px 30px;
  }
  .week-product__description > p {
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 30px;
  }
  .week-product__features {
    border-collapse: collapse;
  }
  .week-product__features-options {
    border-bottom: 1px solid #ececec;
  }
  .week-product__features-item {
    padding: 16px 0 16px 0;
  }
  .week-product__features-item--padding {
    padding-right: 85px;
  }
  .week-product__photo {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 30px 25px 30px;
  }
  .week-product__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 4 / 1 / 5 / 2;
    padding-bottom: 36px;
    margin: 0;
  }
  .week-product__price {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .week-product--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-height: 570px;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .week-product__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 63px 20px 47px;
    grid-area: 1 / 1 / 2 / 3;
  }
  .week-product__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
  .week-product__subtitle {
    font-family: "Open Sans", serif;
    color: #63d1bb;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
  }
  .week-product__description {
    grid-area: 2 / 1 / 3 / 2;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    width: 292px;
    height: 100%;
  }
  .week-product__features {
    font-family: "Open Sans", serif;
    grid-area: 3 / 1 / 4 / 2;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
  }
  .week-product__features-options {
    border-bottom: 1px solid #ececec;
  }
  .week-product__features-item {
    padding: 0 0 16px 0;
  }
  .week-product__features-item--title {
    width: 97px;
  }
  .week-product__order {
    grid-area: 3/1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
  }
  .week-product__price {
    padding-top: 10px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }
  .week-product__photo {
    grid-area: 2 / 2 / 5 / 3;
  }
}
@media (min-width: 1150px) {
  .week-product--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .week-product__header {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 650px;
    position: absolute;
    padding-top: 40px;
  }
  .week-product__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
    padding-left: 43px;
  }
  .week-product__subtitle {
    font-family: "Open Sans", serif;
    color: #63d1bb;
    font-weight: 700;
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    padding-left: 30px;
  }
  .week-product__description {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    max-width: 292px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
  }
  .week-product__features {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
  }
  .week-product__features-options {
    border-bottom: 1px solid #ececec;
  }
  .week-product__features-item {
    padding: 16px 0 16px 0;
  }
  .week-product__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .week-product__price {
    padding-top: 10px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px;
  }
  .week-product__photo {
    grid-area: 1 / 2 / 4 / 3;
  }
}
@media (max-width: 767px) {
  .wrapper {
    min-width: 320px;
    width: 320px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .zig-zag {
    background: url("../../img/tablet/zigzag-line-tablet.svg") no-repeat;
    height: 30px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .zig-zag {
    background: url("../../img/tablet/zigzag-line-tablet.svg") no-repeat;
    height: 17px;
    padding-bottom: 55px;
  }
  .zig-zag--index::after {
    content: "";
    position: absolute;
    top: 1020px;
    width: 100%;
    height: 24px;
    background-image: url("../../img/desktop/zigzag-fill-desktop.svg");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 134%;
  }
}
@media (min-width: 1150px) {
  .zig-zag {
    background: url("../../img/desktop/zigzag-line-desktop.svg") no-repeat;
    height: 23px;
    width: 96%;
  }
  .zig-zag--index::after {
    content: "";
    position: absolute;
    top: 1040px;
    width: 100%;
    height: 24px;
    background-image: url("../../img/desktop/zigzag-fill-desktop.svg");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 134%;
  }
  .zig-zag--catalog {
    background: url("../../img/desktop/zigzag-fill-desktop.svg") no-repeat;
    margin-top: -15px;
    height: 34px;
    z-index: 999;
    position: relative;
  }
}
@media (max-width: 767px) {
  .search-filter {
    border: 0;
    margin: 0;
    padding: 0;
  }
  .search-filter__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: #63d1bb;
  }
  .search-filter__divider {
    height: 1px;
    border-top: 1px solid #62d1ba;
    min-width: 100px;
    align-self: center;
    margin-top: -10px;
    margin-left: 80px;
  }
  .search-filter__option {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    width: 200px;
  }
  .contact-data {
    margin-top: 34px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
  }
  .search-filter__divider--padding {
    padding-top: 25px;
  }
  .search-filter__additional-data {
    border: 2px solid #444444;
    box-sizing: border-box;
    width: 260px;
    height: 142px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    padding: 17px;
  }
  .search-filter__additional-data::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  .search-filter__color {
    padding-bottom: 40px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
  }
  .search-filter__option--padding {
    padding-top: 10px;
  }
  .search-filter__item {
    padding-bottom: 25px;
  }
  .search-filter__options-type {
    list-style: none;
    padding: 40px 0;
    margin: 0;
  }
  .search-filter__option-personal {
    padding-bottom: 10px;
    width: 260px;
  }
  .search-filter__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 22px;
    border: 0;
    border-bottom: 2px solid #000000;
    min-width: 100%;
  }
  .search-filter__placeholder {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3;
    border: 0;
  }
  .search-filter__personal-data {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  .search-filter {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .search-filter--padding {
    padding: 50px 0;
  }
  .search-filter__contacts--padding {
    padding-top: 50px;
  }
  .search-filter_title--wrapper {
    display: flex;
  }
  .search-filter--background {
    background-color: #f1f1f1;
  }
  .search-filter__option {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
  }
  .search-filter__color {
    padding-bottom: 40px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
  }
  .search-filter__options-type {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .search-filter__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: #63d1bb;
    padding-left: 50px;
    padding-right: 90px;
  }
  .search-filter__title-width {
    width: 40px;
  }
  .search-filter__personal-data {
    padding-left: 50px;
    margin: 0;
  }
  .search-filter__item {
    padding-bottom: 40px;
  }
  .search-filter__options-type--row {
    flex-direction: row;
  }
  .search-filter_contact-wrapper {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
  }
  .search-filter__wrapper {
    display: flex;
    padding-top: 30px;
  }
  .search-filter__wrapper--padding {
    padding: 0;
  }
  .search-filter__input-wrapper {
    display: flex;
    padding-bottom: 10px;
    border: 0;
    min-width: 375px;
    border-bottom: 2px solid #000000;
  }
  .search-filter__label-wrapper {
    padding-right: 24px;
    min-width: 100px;
    padding-top: 10px;
  }
  .search-filter__contacts--width {
    width: 500px;
  }
  .search-filter__placeholder {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    border: 0;
  }
  .search-filter__additional-data {
    border: 2px solid #444444;
    box-sizing: border-box;
    width: 500px;
    height: 142px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    padding: 17px;
  }
  .search-filter__additional-data::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  .search-filer__additional-data--padding {
    padding-left: 50px;
  }
  .search-filter__order-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 50px 50px 50px;
  }
}
@media (min-width: 1150px) {
  .search-filter {
    border: 0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  .search-filter--padding {
    padding: 50px 0;
  }
  .search-filter__contacts--padding {
    padding-top: 50px;
  }
  .search-filter_title--wrapper {
    display: flex;
  }
  .search-filter--background {
    background-color: #f1f1f1;
    display: flex;
    padding: 0;
  }
  .search-filter__option {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
  }
  .search-filter__color {
    padding-bottom: 40px;
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
  }
  .search-filter__options-type {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .search-filter__title {
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: #63d1bb;
    padding: 0 60px 0 90px;
  }
  .search-filter__title-width {
    width: 40px;
  }
  .search-filter__personal-data {
    padding-left: 50px;
    margin: 0;
  }
  .search-filter__item {
    padding-bottom: 40px;
  }
  .search-filter__options-type--row {
    flex-direction: row;
  }
  .search-filter_contact-wrapper {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    margin-top: 50px;
  }
  .search-filter__wrapper {
    display: flex;
    padding-top: 30px;
  }
  .search-filter__wrapper--padding {
    padding: 0;
  }
  .search-filter__input-wrapper {
    display: flex;
    padding-bottom: 10px;
    border: 0;
    min-width: 575px;
    border-bottom: 2px solid #000000;
  }
  .search-filter__label-wrapper {
    padding-right: 24px;
    min-width: 100px;
    padding-top: 10px;
  }
  .search-filter__contacts--width {
    width: 700px;
  }
  .search-filter__placeholder {
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    border: 0;
  }
  .search-filter__additional-data {
    border: 2px solid #444444;
    box-sizing: border-box;
    width: 700px;
    height: 142px;
    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    padding: 17px;
  }
  .search-filter__additional-data::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
  .search-filer__additional-data--padding {
    padding-left: 50px;
  }
  .search-filter__order-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 70px;
  }
}
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}
input[type="radio"]:checked + label::before,
input[type="radio"]:not(:checked) + label::before {
  content: "";
  width: 42px;
  height: 42px;
  border: 2px solid #444444;
  background-color: #ffffff;
  border-radius: 100%;
}
input[type="radio"]:checked + label::after,
input[type="radio"]:not(:checked) + label::after {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #62d1ba;
  content: "";
  position: absolute;
}
input[type="radio"]:checked:focus + label::before,
input[type="radio"]:not(:checked):focus + label::before {
  border: 2px solid #444444;
  border-radius: 100%;
  box-sizing: border-box;
  width: 46px;
  height: 46px;
}
input[type="radio"]:not(:checked) + label::after {
  opacity: 0;
}
input[type="radio"]:checked + label::after {
  opacity: 1;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  background-color: #ffffff;
}
input[type="checkbox"]:checked:hover + label::before,
input[type="checkbox"]:not(:checked):hover + label::before {
  background: rgba(255, 255, 255, 0.6);
}
input[type="checkbox"]:checked:active + label::before,
input[type="checkbox"]:not(:checked):active + label::before {
  background: rgba(255, 255, 255, 0.3);
}
input[type="checkbox"]:checked:focus + label::before,
input[type="checkbox"]:not(:checked):focus + label::before {
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #444444;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
}
input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-54deg);
  content: "";
  position: absolute;
}
input[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}
input[type="checkbox"]:checked + label::after {
  opacity: 1;
}
@media (max-width: 767px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 8px;
    top: 9px;
    width: 22px;
    height: 13px;
  }
  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 80px;
  }
  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 14px;
    top: 14px;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 80px;
  }
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1150px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 8px;
    top: 9px;
    width: 22px;
    height: 13px;
  }
  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 70px;
    padding-right: 80px;
    min-width: 100px;
  }
  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 14px;
    top: 14px;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 80px;
  }
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (min-width: 1150px) {
  input[type="checkbox"]:checked + label::after,
  input[type="checkbox"]:not(:checked) + label::after {
    left: 8px;
    top: 9px;
    width: 22px;
    height: 13px;
  }
  input[type="checkbox"]:checked:focus + label::before,
  input[type="checkbox"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label {
    padding-left: 70px;
    padding-right: 80px;
    min-width: 100px;
  }
  input[type="radio"]:checked:focus + label::before,
  input[type="radio"]:not(:checked):focus + label::before {
    padding: 8px;
  }
  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    left: 14px;
    top: 14px;
  }
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    padding-left: 80px;
  }
  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.contact-data {
  margin-top: 34px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
  width: 500px;
  align-self: flex-end;
}
.contac-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
